.product {
    .banner-product {
        background: url(../assets/img/slide-3.jpg) no-repeat center center/cover;
        height: 40vh;
        margin-bottom: 30px;
    }
    .title_page {
        letter-spacing: normal;
        margin: 30px 0;
        &:first-child {
            margin-top: 0;
        }
    }
    aside {
        .category {
            h3 {
                font-family: "Times New Roman", Times, serif;
                font-size: 1.2rem;
                font-weight: normal;
                text-transform: uppercase;
                color: rgb(104, 104, 104);
            }
            a {
                white-space: pre-wrap;
                text-align: left;
                padding: 0;
                color: rgb(104, 104, 104);
                font-size: 0.9rem;
                &:hover {
                    color: $yellow;
                }
            }
        }
        .compare {
            p {
                font-size: 0.85rem;
            }
        }
        .tag-product {
            .tag {
                padding: 4px 8px;
                background-color: rgb(241, 241, 241);
                border-radius: 5px;
                margin: 5px 10px 5px 0;
                display: inline-block;
                font-size: 0.8rem;
            }
            .active {
                background-color: $yellow;
            }
        }
        .banner-aside {
            margin: 30px 0;
        }
    }
    article {
        .control {
            border: 1px solid gray;
            .control-left {
                padding: 10px 15px;
                i {
                    font-size: 1.5rem;
                    margin-right: 20px;
                    color: gray;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
            .control-right {
                padding: 10px 15px;
                ul {
                    margin: 0;
                    a {
                        border: none;
                        color: gray;
                        &:hover {
                            color: $yellow;
                        }
                    }
                    .active {
                        color: $yellow;
                    }
                }
            }
        }
        .check {
            &:checked ~ .list-product {
                display: none;
            }
            &:not(:checked) ~ .grid-product {
                display: none;
            }
        }
    }
}
