* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$gray: #818181;
$yellow: #e3ab39;
body {
    font-family: "Roboto Slab", sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    color: black;
    &:hover {
        text-decoration: none;
        color: white;
    }
}
