extends ../base/base.pug

block variables
    - const title = "Trang Chủ";
    //- Current để định vị trí của menu (thẻ li có style active)
    - const current = "/";

block layout
    include ../partials/header

    include ../partials/footer  