-
    var blog_items = [
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        },
        {
            img: 'sale_product.jpg',
            title: 'Vang Thăng Long Classic',
            author: 'LinhLee',
            date: '20/05/2020',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.'
        }
    ]