-
    var about_us = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'About Us',
            link: '/about-us.html'
        }
    ];

    var products_page = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        }
    ];

    var detail_product = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        },
        {
            page: 'Rượu Vang Đỏ',
            link: '/detaiproduct.html'
        }
    ];

    var cart = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Sản Phẩm',
            link: '/products.html'
        },
        {
            page: 'Giỏ Hàng',
            link: '/cart.html'
        }
    ];

    var blog = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Blog',
            link: '/blog.html'
        }
    ];

    var detail_blog = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Blog',
            link: '/blog.html'
        },
        {
            page: 'Detail Blog',
            link: '/detail-blog.html'
        }
    ];

    var login = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Đăng Nhập',
            link: '/login.html'
        }
    ];

    var resigter = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Đăng Ký',
            link: '/resigter.html'
        }
    ];

    var cart_detail = [
        {
            page: 'Trang Chủ',
            link: '/'
        },
        {
            page: 'Giỏ Hàng',
            link: '/cart.html'
        },
        {
            page: 'Chi Tiết Đơn Hàng',
            link: '/cart-detail.html'
        }
    ];


    